 *{
     padding: 0;
     margin: 0;
 }


body{
    font-size: 16px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


.container{

    width: 100%;
    height: 100vh;
    background-image: linear-gradient( to right, #9fdad3ad, #3b7a73b6), url(./images/bg-header.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y:center;
}




nav ul {
    height: 12%;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: right;
}

.col{
    display: inline-flex;
    margin-top: 1vh;
    margin-right: 1vh;
    background-color: #FF4221;
    text-transform: uppercase;
    font-family: Roboto;
    padding: 0.5%;
}
 .col:hover{
    background-color: #fa6b52;
 }

.col a{
    color: wheat;
    font-size: 100%;
}

.col-1{
    display: inline-flex;
    margin-right: 10px;

}
-----------------------------

header{
    width: 100%;


}

 .hero-header{
    display: flex;
    align-items: center;
    flex-direction: column;


}

h1{
    color: white;
    font-size: 15vh;
    margin-top: 40vh;
    letter-spacing: 0.25em;
    font-weight: 200;
    font-family: Roboto;
    animation-name: header-anim;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;

}

h3{
    color: white;
    font-family: Roboto;
    letter-spacing: 0.15em;
    animation: sub-header-anim 2s ease-out;
}



button{

    width: 15%;
    font-weight: bold;
    font-family: Roboto;
    font-size: 15px;
    border: none;
    text-transform: uppercase;
    margin-top: 30px;
    padding: 5px;
    background-color: #F05000;
    color: white;
}

button:hover{
    background-color: #f1793c;
}

@media only screen and (max-width: 650px) {
    h1{
        font-size: 10vh;
    }

    h3{
        font-size: 3vh;
    }

    button{
        width: 20%;
    }
}


/* --Section-1 --*/

.section-1{
    display: inline-grid;
    grid-template-columns: 50% 50%;



}


.img-section img{
    width: 95%;




}

#img{
    padding: 3% 3%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-header{
   margin: 10px ;

}


.text-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 3% 3%;

}





/* --animations-- */

@keyframes header-anim{
   0%{
     opacity: 0;

   }

   70%{
     opacity: 0.7;
   }

   100%{
    opacity: 1;
   }
}

@keyframes sub-header-anim{
    0%{
     opacity: 0;
     transform: translateX(-100px);
    }



    100%{
      opacity: 1;
      transform: translate(0px);
    }
}






