 *{
     padding: 0;
     margin: 0;
 }


body{
    font-size: 16px;
    margin: 0, auto;
    box-sizing: border-box;
}

.container{
    text-align: center;
    height: 350px;
    background-image: linear-gradient( to right, #9fdad3ad, #3b7a73b6), url(./images/bg-header.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 20%
}

 .hero-header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    color: #a3eee6;
    font-size: 4.5rem;
    letter-spacing: 0.25em;
    font-weight: 200;
    font-family: Roboto;
    text-shadow: 2px 2px 8px #ffffff;
}

h3{
    color: white;
    font-family: Roboto;
    letter-spacing: 0.15em;
}

.header-logo{
opacity: 0.7;
}

button{
    width: 15%;
    font-weight: bold;
    font-family: Roboto;
    font-size: 15px;
    border: none;
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: #EBBCAD;
    color: white;
}

a{
    display: none;
    text-align: right;
}



